.logo {
    transition: all 0.5s;

    &.visible {
        visibility: visible;
    }

    &.hidden {
        opacity: 0;
        visibility: hidden;
    }
}

.mainMenu {

    .mainMenuItem {
        display: block;
        color: white
    }
}
